{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h1 align="center">Posts</h1>
    <div id="posts">
        {% for post in posts %}
            <div class="card border-dark">
                <div class="card-header">
                    <a href="/posts/{{ post.author }}">{{ post.author }}</a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content }}</p>
                </div>
                <div class="card-footer text-muted">
                    {{ post.created_date }}
                </div>
            </div>
            <br/>
        {% endfor %}
    </div>
{% endblock %}
