{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h1 align="center">Posts</h1>
    <div id="posts">
        {% for post in posts %}
            <div class="card border-dark">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <a href="/posts/{{ post.author }}">{{ post.author }}</a>
                    {% if session.email == post.author %}
                        <div class="btn-group">
                            <form method="POST" action="/delete-post/{{ post._id }}">
                                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                            </form>
                        </div>
                    {% endif %}
                </div>
                <div class="card-body">
                    <div class="card-text">{{ post.content }}</div>
                </div>
                <div class="card-footer text-muted">{{ post.created_date }}</div>
            </div>
            <br/>
        {% endfor %}
    </div>

    {% block footer %}
        <div align="center">
            <a href="/create-post">
                <button type="button" class="btn btn-primary btn-lg">
                    Create a Post
                </button>
            </a>
        </div>
    {% endblock %}
{% endblock %}
