{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div id="posts">
        {% for post in posts %}
            <div class="card border-dark">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <a href="/profile/{{ post.author }}">{{ post.author }}</a>
                    {% if session.username == post.author %}
                        <div class="btn-group">
                            <form method="POST" action="{{ url_for('views.delete_post', post_id=post._id) }}">
                                <button type="submit" class="btn btn-sm">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </form>
                        </div>
                    {% endif %}
                </div>
                <div class="card-body">
                    <div class="card-text" id="title">{{ post.title }}</div>
                    <div class="card-text" id="post-content">{{ post.content | safe }}</div> <!-- Ensure HTML is not escaped -->
                    {% if post.image_id %}
                        <img src="{{ url_for('views.get_image', image_id=post.image_id) }}" class="post-image" alt="Post Image">
                    {% endif %}
                    {% if session.username %}
                        <button type="submit" id="like-btn-{{ post._id }}" data-post-url="{{ url_for('views.like_post', post_id=post._id) }}" data-post-id="{{ post._id }}" class="btn btn-sm like-btn">
                            <i class="fas fa-heart {% if session.username in post.liked_by %}text-danger{% else %}text-secondary{% endif %}"></i>
                            <span class="ml-1" id="likes_amount_{{ post._id }}">{{ post.likes }}</span>
                        </button>
                    {% endif %}
                    <hr />
                    {% if post.comments %}
                        <div class="comments-section">
                            <h5>Comments:</h5>
                            <ul class="list-unstyled">
                                {% for comment in post.comments %}
                                    <li class="mb-3">
                                        <div class="comment-container">
                                            <div class="comment-content">
                                                <strong><a href="/profile/{{ comment.author }}">{{ comment.author }}</a>:</strong>
                                                {{ comment.text | safe }} <!-- Ensure HTML is not escaped -->
                                                <small class="text-muted">{{ comment.created_date }}</small>
                                            </div>
                                            {% if session.username == comment.author or session.username == post.author %}
                                                <form method="POST" action="{{ url_for('views.delete_comment', post_id=post._id) }}">
                                                    <input type="hidden" name="text" value="{{ comment.text }}">
                                                    <input type="hidden" name="author" value="{{ comment.author }}">
                                                    <input type="hidden" name="created_date" value="{{ comment.created_date }}">
                                                    <button type="submit" class="btn btn-sm">
                                                        <i class="fas fa-trash"></i>
                                                    </button>
                                                </form>
                                            {% endif %}
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% else %}
                        <p>No comments yet.</p>
                    {% endif %}
                    {% if session.username %}
                        <form class="mt-3" method="POST" action="{{ url_for('views.create_comment', post_id=post._id | string) }}">
                            <div class="form-group">
                                <input type="text" name="text" class="form-control" placeholder="Write a comment...">
                            </div>
                            <button type="submit" class="btn btn-primary">Comment</button>
                        </form>
                    {% endif %}
                </div>
                <div class="card-footer text-muted">
                    {{ post.created_date }}
                </div>
            </div>
            <br>
        {% endfor %}
    </div>

    <script src="/file/scripts/posts.js" type="module"></script>
{% endblock %}
