{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-header">
                    <h4> {{ user.username }}</h4>
                </div>
                <div class="card-body">
                    {% if user.profile_photo %}
                            <img src="{{ url_for('profile.get_image', image_id=user.profile_photo) }}" class="img-fluid" alt="Profile Photo">
                        {% else %}
                            <p>No profile photo uploaded yet.</p>
                        {% endif %}
                    {% if session.username == user.username %}
                        <a href="{{ url_for('profile.edit_profile', username=user.username) }}" class="btn btn-sm btn-primary w-100 mt-3 my-3">Edit Profile</a>
                    {% else %}
                        {% if session.username %}
                            {% if session.username in user.followers %}
                                <form action="{{ url_for('profile.unfollow', username=user.username) }}" method="POST">
                                    <input type="hidden" name="friend_username" value="{{ user.username }}">
                                    <button type="submit" class="btn btn-sm btn-danger w-100 mt-3 my-3">Unfollow</button>
                                </form>
                            {% else %}
                                <form action="{{ url_for('profile.follow', username=user.username) }}" method="POST">
                                    <input type="hidden" name="friend_username" value="{{ user.username }}">
                                    <button type="submit" class="btn btn-sm btn-primary w-100 mt-3 my-3">Follow</button>
                                </form>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    <div class="profile-details">
                        <br>
                        {% if user.bio %}
                            <p><strong>About me:</strong> {{ user.bio }}</p>
                        {% endif %}
                        <p><strong>Following:</strong> 
                            <a href="#" class="open-friends-list" data-type="following" data-username="{{ user.username }}">
                                {{ user.following | length }}
                            </a>
                        </p>
                        <p><strong>Followers:</strong> 
                            <a href="#" class="open-friends-list" data-type="followers" data-username="{{ user.username }}">
                                {{ user.followers | length }}
                            </a>
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h4 align="center">{{ user.username }}'s Posts</h4>
            <div id="posts">
                {% for post in posts %}
                    <div class="card border-dark mb-3" data-toggle="modal" data-target="#postModal" onclick="post_data('{{ post._id }}')">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <a href="/profile/{{ post.author }}">{{ post.author }}</a>
                            {% if session.username == post.author %}
                                <div class="btn-group">
                                    <form method="POST" action="{{ url_for('views.delete_post', post_id=post._id) }}">
                                        <button type="submit" class="btn btn-sm">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <div class="card-text" id="title">{{ post.title }}</div>
                        </div>
                    </div>
                {% else %}
                    <p>No posts found.</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="modal fade" id="friends-modal" tabindex="-1" role="dialog" aria-labelledby="friendsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title">Friends</h5>
                    <button type="button" class="close close-modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul id="friends-list" class="list-unstyled">
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary close-modal" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="postModalLabel">Post Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="modal-post-content"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/file/scripts/profile.js"></script>
{% endblock %}
